<%-include('header')-%>

<div class="">
<h1 class="panelHead">Hello Student</h1>
        
            

                <% for(var i = 0; i < data.length; i++)  {  %>
                    <div class="infoDiv ">
                    <div class="infoHeader">

                    <h1 class="infoHead"><%= data[i].title %></h1>
                    
                    </div>
                        <p class="infoText"><%= data[i].desc %></p>
                        <hr class="o-70"><div class="infoMeta"><p class="infoWriter">-<%= data[i].name %></p>
                            
                        </div></div>
                <% } %>
               
            
            </div>
    
    
    <%-include('footer')-%>